<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859300835900-7ga2fh51svkdsvsnt1hgsh1v9tb19b2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859300835900-7ga2fh51svkdsvsnt1hgsh1v9tb19b2r</string>
	<key>API_KEY</key>
	<string>AIzaSyCCsYLoF5jgxEi-x6SkKe9TjaYZTtDw5xc</string>
	<key>GCM_SENDER_ID</key>
	<string>859300835900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoappAzraTech387</string>
	<key>PROJECT_ID</key>
	<string>todoapp-43c42</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-43c42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859300835900:ios:5d0f2f967dcd8574a3c939</string>
</dict>
</plist>